.container {
    max-width: 960px;
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }

  .contColor {
    background-color: rgb(121, 138, 131);
  }
  