.spreadnav {
    display: flex;
    justify-content: space-between;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-top: 20px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.bg-color {
    background-color: rgb(7,11,12);
}

.navbar-brand, .spreadnav {
    color: white;
}

.navbar-brand:hover {
    color: rgb(213,44,1);
}

.jumbotron {
    background-color: rgb(188,195,187);
}